<html>
    <body>
			<script>
				this.redirect = redirect;
				function redirect() {
					
					//window.location.href = 'localhost:1337/login';
			//		window.location.assign('localhost:1337/login');
				//	window.location = 'localhost:1337/login';
					//window.reload();
					//window.location.replace('localhost:1337/login');
					
					window.open('http://10.96.127.136:1337/login', '_self');
					
					//var newW = window.open('localhost:1337/login');
					//newW.location.reload();
				}
			</script>
			
			<div class="container">
			<img onclick="redirect()" src="https://media1.tenor.com/images/e01c2e758407f00d0a998cfa5bb58499/tenor.gif?itemid=5447023" alt="Snow">
			</div>
                </tr>
            </table>
        </form>
    </body>
</html>

